@page "/shortener"

<h3>Url Shortener</h3>

<div class="form-group">
    <textarea class="form-control col-md-6" placeholder="Enter URL to shorten" @bind-value="UrlBody" @bind-value:event="oninput"></textarea>
</div>

<button class="btn btn-primary" type="button" @onclick="PostBtnClicked">
    <span class="oi oi-arrow-thick-top"></span> Post
</button>

@code {
    public string? UrlBody { get; set; }

    private void PostBtnClicked()
    {
        
    }
}
